<section class="project-showcase-container" id="project-showcase-container" *ngIf="project.showcase">
    <section-header [info]=" info"></section-header>
    <article class="showcase-container" (mouseleave)="onMouseLeave()">
        <div class="slides-container">
            <div class="showcase-slide" *ngFor="let slide of project.showcase; let i = index"
                style="background-image:url({{slide.img}})" (mouseenter)="onMouseEnter($event,i)"
                data-aos="fade-down" [attr.data-aos-delay]="i * 100">
                <h1>{{slide.showcaseTitle}}</h1>
            </div>
        </div>
        <div class="showcase-slide-view" *ngIf="hoverSlideIdx" (mouseleave)="onMouseLeave()">
            <carousel [showcase]="project.showcase" [index]="hoverSlideIdx" (onMouseLeave)="onMouseLeave()"
                [windowWidth]="getScreenWidth"></carousel>
        </div>
    </article>
</section>