<section [ngClass]="className" class="media-btns-container">
        <a href="https://www.facebook.com/profile.php?id=100010249146928" target="_blank"><i
                        class="fa-brands fa-square-facebook" title="Facebook Profile"></i></a>
        <a href="https://www.linkedin.com/in/noam-bar-142378243/" target="_blank" title="Linkedin Profile"><i
                        class="fa-brands fa-linkedin"></i></a>
        <a href="https://github.com/NoamBar207" target="_blank" title="Github Profile"><i
                        class="fa-brands fa-square-github"></i></a>
        <a href="https://pdfhost.io/v/d99FFkHji_Noam_Bar" target="_blank" title="My Resume">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="resume-btn">
                        <path fill="currentColor"
                                d="M6,17C6,15 10,13.9 12,13.9C14,13.9 18,15 18,17V18H6M15,9A3,3 0 0,1 12,12A3,3 0 0,1 9,9A3,3 0 0,1 12,6A3,3 0 0,1 15,9M3,5V19A2,2 0 0,0 5,21H19A2,2 0 0,0 21,19V5A2,2 0 0,0 19,3H5C3.89,3 3,3.9 3,5Z" />
                </svg>
        </a>
</section>