@import "../../../assets/global-styles/_mixins.scss";
@import "../../../assets/global-styles/_variables.scss";

.app-nav-bar-container {
  position: fixed;
  right: 50%;
  transform: translateX(50%);
  bottom: 24px;
  @include flex-center;

  .app-nav-bar-actions {
    @include flex-center;
    gap: 4px;
    background-color: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
    padding: 12px;
    border-radius: 54px;

    button {
      padding: 12px;
      span {
        font-size: 16px;
        color: $clr-secondary-txt;
      }

      &:hover {
        span {
          color: white;
        }
      }
    }

    a {
      cursor: pointer;
      span {
        font-size: 16px;
        color: $clr-secondary-txt;
      }
    }
  }
}
