<section class="project-details-container">
    <article class="project-content">
        <div class="header-container" id="header-container">
            <particels [maxNumber]="80"></particels>
            <section-header [info]="info"></section-header>
        </div>
        <about-project [project]="project"></about-project>
        <project-features [project]="project"></project-features>
        <project-carousel [project]="project"></project-carousel>
    </article>
    <contact></contact>
    <app-nav-bar (onScroll)="scrollTo($event)" [navButtons]="navButtons"></app-nav-bar>
</section>