/* You can add global styles to this file, and also import other style files */
@import "../src/assets/global-styles/_variables.scss";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap");
@import "../node_modules/@coreui/coreui/scss/coreui";
@import "../node_modules/aos/dist/aos.css";

html {
  scroll-behavior: smooth;
  font-family: "Montserrat";
  overflow-x: hidden;
}

body {
  // background-color: #3d4a3d;
  background-color: $clr-main-bg;
  color: white;
  margin: 0;
  overflow-x: hidden;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 0;
    font-weight: 600;
  }

  a {
    text-decoration: none;
    color: white;
  }
  button {
    cursor: pointer;
    background: transparent;
    border: none;
  }
  p {
    margin: 0;
    margin-block: 0;
  }
}

* {
  box-sizing: border-box;
  line-height: 150%;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 12px;
  background-color: $clr-card-bg;
  padding: 30px 45px;
  border-radius: 1rem;
  border: 2px solid transparent;
  transition: all 0.5s ease;
  color: white;

  h1, h2, h3, h4, h5, h6 {
    color: white;
  }

  &:hover {
    background-color: transparent;
    border-color: #007b84a0;
  }
}

.cards-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-row: auto;
  width: 100%;
  gap: 24px;
}

.util-btn {
  width: max-content;
  padding: 8px 18px;
  background-color: $clr-main-txt;
  outline: none;
  color: white;
  border-radius: 50px;
  font-size: 16px;
}

.util-btn-dark {
  background-color: $clr-secondary-txt;
  color: $clr-main-bg;
  // background-color: complement($color: $clr-main-txt);
}

.big-btn {
  font-size: 18px;
}

.site-msg {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.518);
  padding: 10px 20px;
  border-radius: 1rem;
}
